*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1
{
    color: green;
    margin: 5%;
}
h1,h3
{
    text-align: center;
}
th
{
    background: rgb(197, 196, 196);
    text-align: left;
    font-size: larger;
    text-align: center;
    border-width: 0px;
    
}
table
{
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-left: solid 1px;
    

    width: 80%;
    margin: 5% auto;
}
td
{
    height: 30px;
    width: 70px;
    text-align: center;
}
.container {
    margin-top: 20px;
    display: flex;
    align-items: center;

    justify-content: center;
    flex-direction: column;
}