a:link
{
    color: black;
}
a:visited
{
    color: aqua;
}
a:hover
{
    color: burlywood;
}
button
{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20 px;
}
button:hover
{
    background: white;
    color: black;
    border: 1px solid black;
}
a:active
{
    color: yellow;
}
a:focus
{
    color: hotpink;
}
ul > li:first-child
{
    color: blue;
}
ul > li:last-child
{
    color: blueviolet;
}
ul > li:nth-child(3)
{
    color: maroon;
}
ul > li:nth-child(even)
{
    color: tomato;
}