*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container
{
    height: 200px;
    width: 500px;
    border: 1px solid black;
    /* border: 2xp dotted black;
    border: 2px dashed black; */
    /* padding: 20px 10px; */
    padding: 10px 20px 10px 30px;
    /* padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px; */
}
.d1
{
    /* margin: 10px;
    margin: 10px 20px; */
    margin: 10px 20px 20px 10px;
    /* margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px; */
}